---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  google-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-nodiscard
WarningsAsErrors: '*'
FormatStyle:     none
